.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    background-color: #2c6633;
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 50px;
  }
  
  .nav {
    display: flex;
  }
  
  .navList {
    display: flex;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navItem {
    position: relative;
  }
  
  .navLink {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 12px;
    transition: color 0.3s ease;
  }
  
  .navLink:hover {
    color: #d4edda;
  }
  
  /* Classe per la pagina attiva */
  .active {
    border-bottom: 3px solid #d4edda;
  }
  