.hero {
  display: flex;
  height: 100vh;
}

.leftContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
}

.rightContent {
  flex: 1;
  position: relative;
}

.heroImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/images/hero-image.png');
  background-size: cover;
  background-position: center;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8)); 
}

.title {
  font-family: 'MADE Dillan', sans-serif;
  font-weight: 900;
  font-size: 6vw;
  background: linear-gradient(90deg, #56D698 8%, #3C8D3A 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1rem;
}

.subtitle {
  font-family: 'MADE Dillan', sans-serif;
  font-weight: 900;
  font-size: 4vw;
  color: black;
  margin-bottom: 2rem;
}

.description {
  font-family: 'Lexend', sans-serif;
  font-size: 1.2rem;
  color: #1c1c1c;
}

.description strong {
  font-weight: bold;
}